<!-- main app container -->
<div>
  <h5>Angular 8 Template-Driven Form Validation</h5>
  <div>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
      <div>
        <label>First Name</label>
        <input
          type="text"
          name="firstName"
          [(ngModel)]="model.firstName"
          #firstName="ngModel"
          required
        />

        <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
          <div *ngIf="firstName.errors.required">
            FirstName is required
          </div>
        </div>
      </div>
      <br />
      <div>
        <label>Last Name</label>
        <input
          type="text"
          name="lastName"
          [(ngModel)]="model.lastName"
          #lastName="ngModel"
          required
        />
        <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
          <div *ngIf="lastName.errors.required">Last Name is required</div>
        </div>
      </div>
      <br />
      <br />
      <div>
        <button>Register</button>
        <button type="reset">Cancel</button>
      </div>
    </form>
  </div>
</div>

<!-- <input type="text" [formControl]="color" />
<br />
<br />
<p style="color: red;font-size: 20px;">{{ color.value }}</p> -->
<p
  style="background-color: aqua;text-align: center;color: black;font-size: 24px;"
>
  {{ title | uppercase }}
</p>
<p>{{ birthday | date: "dd/MM/yyyy" }}</p>
<p>Sqaure root of 169 :{{ 169 | sqrt }}</p>
<p>Sqaure of 10 :{{ 10 | square }}</p>
<h1>Album data</h1>
<!-- <div *ngFor="let item of albumData">
  <h2>{{ item.title }}</h2>
  <p>{{ item.body }}</p>
</div> -->
<div *ngIf="post">
  <h2>{{ post.title }}</h2>
  <p>{{ post.body }}</p>
</div>
