<!-- main app container -->
<div>
  <h5>Angular 8 Template-Driven Form Validation</h5>
  <div>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
      <div>
        <label>Last Name</label>
        <input
          type="text"
          name="lastName"
          [(ngModel)]="model.lastName"
          #lastName="ngModel"
          required
        />
        <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
          <div *ngIf="lastName.errors.required">Last Name is required</div>
        </div>
      </div>
      <div>
        <button>Register</button>
        <button type="reset">Cancel</button>
      </div>
    </form>
  </div>
</div>
