<p>this is the profile page !</p>

<h2>Two way data binding</h2>
<!-- Enter First Name
<input [(ngModel)]="firstname" type="text" />
<br />
<br />
Enter Last Name
<input [(ngModel)]="lastname" type="text" />

<p>
  Firstname is <b>{{ firstname }}</b>
  <br />
  Lastname is <b>{{ lastname }}</b>
</p> -->
Enter first number
<input [(ngModel)]="firstnumber" type="number" />
<br />
<br />
Enter Last number
<input [(ngModel)]="secondnumber" type="number" />
Total = {{ firstnumber + secondnumber }}

<br />
<br />
<input [formControl]="favColor" type="text" />
<br />
Fav Color is {{ favColor.value }}

<button (click)="hello()">get the value</button>
