<p class="p1" id="p1">This is the first class for angular</p>

<p *ngIf="showTitle">{{ title }}</p>

<ul>
  <li *ngFor="let item of array" [ngClass]="{ hello: item % 2 === 0 }">
    {{ item }}
  </li>
</ul>
<!-- // a =>  {
  name: "john",
  status: "online"
}, -->

<input [value]="employee.email" type="text" />
<p
  style="background-color: aqua;color: black;text-align: center;border-radius: 24px;"
>
  Name : {{ employee.name }} <br />
  Email : {{ employee.email }}
</p>
<ol>
  <li
    *ngFor="let a of user"
    [ngClass]="{
      online: a.status === 'online',
      offline: a.status === 'offline'
    }"
  >
    {{ a.name }}
  </li>
</ol>

<button *ngIf="showProfile" class="button" (click)="gotoprofile()">
  Go to Profile
</button>
<br />
<br />
<div (click)="ondiv()">
  <button (click)="onsave($event)">
    event bubbling
  </button>
</div>
<!-- <div>
  <p *ngFor="let item of array2">
    {{ item }}
  </p>
</div> -->
<!-- <button class="button" (click)="gotodemo()">Go to Demo</button>

<button class="button" (click)="changetext()">disapper profile button</button> -->

<!-- Using the ngswitchcase Directive -->
<div [ngSwitch]="color">
  <p *ngSwitchCase="'red'" style="color: red;">red</p>
  <p *ngSwitchCase="'blue'" style="color: blue;">blue</p>
  <p *ngSwitchCase="'green'" style="color: green;">green</p>
</div>

Using the ngclass directive
<div class="container">
  <div
    *ngFor="let car of cars"
    [ngClass]="{
      red: car.name === 'Mg hector',
      blue: car.name === 'Ford'
    }"
  >
    {{ car.name }}
  </div>
</div>
<div
  *ngFor="let item of array"
  [ngClass]="{
    red: item % 3 === 0,
    blue: item % 3 !== 0
  }"
>
  {{ item }}
</div>
<div></div>

<!-- using the ngstyle directive  -->
<div>
  <p [ngStyle]="{ color: sample(status2) }">we are {{ status1 }}</p>
</div>
<div>
  <p [ngStyle]="{ color: sample(status1) }">we are {{ status2 }}</p>
</div>

<br />
<br />

<p class="ab">shhshshshhshsh</p>
